/* GLOBAL STYLES BEGIN */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

/* GLOBAL STYLES END */

/* NAVIGATION BAR BEGINS */

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.left-nav-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 15px;
}

.left-nav-bar h2 {
    font-family: "Lato", sans-serif;
    color: white;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: large;
    margin-top: 15px;
}

nav li {
    padding: 0.25rem 0.75rem;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 5px solid transparent;
}

nav a:hover { /* When hovering over navigation links */
    text-decoration: none;
    color: crimson;
    border-radius: 5px;
    box-shadow:  0 0 5px crimson;
                 0 0 10px #66ffff;
}

.current-page {
    text-decoration: none;
    color: crimson;
    border-radius: 5px;
    box-shadow:  0 0 5px crimson;
                 0 0 10px #66ffff;    
}

/* NAVIGATION BAR ENDS */

/* MAIN CONTENT BEGINS */

body {
    background-color: #606060;
}

.main-container {
    margin-top: 4rem;
}

.text-center {
    text-align: center;
}

#form1{
    width: 95%;
    height: 90%;
    background-color: #3d3d3d;
    margin-left: 2.5%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;

}

.submitButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Source Code Pro', monospace;  
    font-size: 18px;
    color: rgba(255,255,255,.70);
}

.animated-p {
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 24px;
    color: rgba(255,255,255,.70);
  }

main {
    background-color: #606060;
}

/* Animation */
.animated-p {
    animation: animated-text 2s steps(30,end) 0.5s 1 normal both;
  }
  
/* Text Animation */
  
@keyframes animated-text{
from{width: 0;}
to{width: 1000px;}
}

/* MAIN CONTENT ENDS */
